<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings><add name="QuanLyXayDungEntities" connectionString="metadata=res://*/test.csdl|res://*/test.ssdl|res://*/test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=QuanLyXayDung;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
					<add name="QuanLyXayDungEntities1" connectionString="metadata=res://*/CongTyXayDung.csdl|res://*/CongTyXayDung.ssdl|res://*/CongTyXayDung.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=QuanLyXayDung;integrated security=True;encrypt=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
					<add name="QuanLyXayDungEntities2" connectionString="metadata=res://*/CongTyXayDung.csdl|res://*/CongTyXayDung.ssdl|res://*/CongTyXayDung.msl;provider=System.Data.SqlClient;provider connection string=&quot;
						data source=LAPTOP-DQ58LHVB\SQLEXPRESS;
						initial catalog=QuanLyXayDung;
						integrated security=True;
						encrypt=False;
						TrustServerCertificate=True;
						MultipleActiveResultSets=True;App=EntityFramework&quot;" 
						 providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>