<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
  </startup>
  <connectionStrings>
    <add name="QuanLyXayDungEntities" connectionString="metadata=res://*/test.csdl|res://*/test.ssdl|res://*/test.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=QuanLyXayDung;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />



    <add name="QuanLyXayDungEntities2" 
		 connectionString="metadata=res://*/CongTyXayDung.csdl|res://*/CongTyXayDung.ssdl|res://*/CongTyXayDung.msl;provider=System.Data.SqlClient;provider connection string=&quot;&#xD;&#xA;data source=LAPTOP-DQ58LHVB\SQLEXPRESS;&#xD;&#xA;initial catalog=QuanLyXayDung;&#xD;&#xA;integrated security=True;&#xD;&#xA;encrypt=False;&#xD;&#xA;TrustServerCertificate=True;&#xD;&#xA;MultipleActiveResultSets=True;App=EntityFramework&quot;"
         providerName="System.Data.EntityClient" />
    

  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>